/* CSS Reset */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bree Serif', serif;
}
#logo img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
#logo{
    margin: 7px 27px;
}
#navbar {
    display: flex;
    align-items: center;
    position: relative;
}
#navbar ul{
    display: flex;
    padding: 0px;
}
.item{
    list-style: none;
}
.item a{
    padding: 0px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 18px;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}

#navbar li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 200px;
}
#home>h1, #home>p{
    margin: 0px;
}
#home::before{
    content: "";
    background: url(../img/bg1.jpg);
    z-index: -1;
    height: 100%;
    width: 100%;
}