/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Bree Serif', serif;
}
#logo img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
#logo{
    margin: 7px 27px;
}
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
}
#navbar ul{
    display: flex;
    padding: 0px;
}
.item{
    list-style: none;
}
.item a{
    padding: 0px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 18px;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}

#navbar li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 200px;
    height: 250px;
    /* border: 2px solid red; */
    margin-bottom: 70px;
}
/* #home>h1, #home>p{
    margin: 0px;
    padding: 0px;
} */
#home>.h-primary{
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    /* background: url(../img/bg6.jpg) no-repeat top center/cover; */
    background: url(../img/bg6.jpg) no-repeat top center/cover;
    z-index: -1;
    height: 70%;
    background-position-y: 50%;
    width: 100%;
    /* opacity: 1; */
}
#home p{
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

#services{
    display: flex;
    margin: 30px;
}
.box{
    border: 2px solid red;
}
.box img{
    height: 140px;
    margin: auto;
    display: block;
}
.h-primary{
    font-size: 3.9rem;
    padding: 13px;
    
}
.h-secondary{
    font-size: 2.9rem;
    padding: 13px;
    
}
.center{
    text-align: center;
}
.btn{
    background-color: orangered;
    color: white;
    margin: 18px;
    border: 2px solid white;
    padding: 5px 21px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
