#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
}
#navbar li{
    padding-bottom: 10px;
}
#home{
    height: 95px;
    padding: 13px 27px;
}
#home .h-primary{
    margin-top: 77px;
}
#home::before{
    height: 310px;
}
#home p{
    font-size: 0.9rem;
}
.btn{
    font-size: 14px;
    padding: 4px 7px;
}
.h-primary{
    font-size: 1.6rem;
}
.h-secondary{
    font-size: 1rem;
}
p{
    font-size: 0.9rem;
}
#services{
    flex-direction: column;
}
#services .box{
    /* margin: 15px; */
    margin: 2px 0px;
    padding: 14px;
    margin-bottom: 20px;
}
#services .box img{
    width: 129px;
    height: auto;
}
#services-container::before{
    height: 145%;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    padding: 2px 5px;
    width: 65px;
    height: auto;
}

#contact-box form{
    width: 80%;
}

.box{
    padding: 5px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
#contact-box .form-group label{
    font-size: 1rem;
}
#contact-box .form-group input::placeholder{
    font-size: 1rem;
}
#contact-box input, #contact-box textarea{
    padding: 0.4rem;
    font-size: 0.9rem;
}
#contact-box .form-group textarea{
    /* width: 250px; */
    height: 90px;
}
footer{
    padding: 10px;
    font-size: 0.8rem;
}
