#navbar{
    flex-direction: column;
}
#home{
    height: 310px;
    padding: 4px 30px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 14px;
}
.h-primary{
    font-size: 26px;
}
#services{
    flex-direction: column;
}
.box{
    margin: 15px;
}