/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Bree Serif', serif;
}
#logo img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
#logo{
    margin: 7px 27px;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar ul{
    display: flex;
    padding: 0px;
}
.item{
    list-style: none;
}
.item a{
    padding: 0px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 18px;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

#navbar li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 200px;
    /* height: 376px; */
    /* height: 100%; */
    /* border: 2px solid red; */
    margin-bottom: 132px;
}
/* #home>h1, #home>p{
    margin: 0px;
    padding: 0px;
} */
#home>.h-primary{
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    /* background: url(../img/bg6.jpg) no-repeat top center/cover; */
    background: url(../img/bg6.jpg) no-repeat top center/cover;
    z-index: -1;
    height: 70.5%;
    /* height: 100%; */
    background-position-y: 50%;
    width: 100%;
    /* opacity: 1; */
    top: 0px;
    left: 0px;
}
#home p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

#services{
    display: flex;
    margin: 10px 30px;
    margin-bottom: 20px;
}
.box{
    border: 2px solid red;
    padding: 30px;
    margin: 3px 15px;
    border-radius: 30px;
    background-color: rgb(238, 231, 217);
}
.box:hover{
    transform: translateY(-15px);
}
.box img{
    height: 100px;
    margin: auto;
    display: block;
}
/* #services-container::before{
    content: "";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 83%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
} */
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-item img{
    height: 130px;
}
#client-container{
    /* height: 350px; */
    /* border: 2px solid red; */
    position: relative;
    /* margin-top: 35px; */
}
.client-item{
    padding: 25px;
}
#client-container::before{
    content: "";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;

}

#contact-container{
    position: relative;
}
#contact-container::before{
    content: "";
    background: url('../img/contact.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
}

#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.8rem;
    border-radius: 15px;
    font-size: 1.3rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.5rem;
}

.h-primary{
    font-size: 3.9rem;
    padding: 13px;
    
}
.h-secondary{
    font-size: 2.2rem;
    padding: 13px;
    
}
.center{
    text-align: center;
}
.btn{
    background-color: orangered;
    color: white;
    margin: 18px;
    border: 2px solid white;
    padding: 5px 21px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}
#top{
    text-decoration: none;
    border: 3px solid rgb(80, 79, 79);
    color: darkslategray;
    border-radius: 11px;
    background-color: darkgray;
    padding: 4px 15px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 1.5rem;
}
#topdiv{
    margin-top: 35px;
}
#submit{
    text-decoration: none;
    border: 3px solid rgb(68, 66, 66);
    color: rgb(56, 51, 51);
    border-radius: 11px;
    background-color: darkgray;
    padding: 4px 15px;
    font-size: 1.5rem;
    width: 110px;
    display: block;
    margin: 10px auto;
    font-weight: bold;
}