@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
/* Styling navbar */
.navbar{
    background: crimson;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .menu li a{
    color: #fff;
}