body {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -65vmax;
}
.logoBox {
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 18px;
    /* font-weight: bold; */
    width: 60px;
    margin: 0px;
}

.logoBox img {
    width: 40px;
    height: 50px;
    filter: drop-shadow(0px 0px 10px rgba(12, 241, 51, 0.815));
    /* filter: invert(); */
    margin-top: 8px;
}

.logoBox div {
    line-height: 20px;
    font-size: 20px;
}
.navigationBox {
    width: 100%;
    /* margin: auto; */
    position: fixed;
    top: 4px;
    left: 50px;
}
ul{
    padding: 0px 30px;
}
.navbar li {
    padding: 2px;
    font-size: 16px;
}
.navbar li a {
    height: 30px;
    width: 60px;
    padding-top: 0px;
}
.container {
    width: 50%;
    height: 70%;
    margin: 0px;
    position: absolute;
    top: 135px;
    left: 10px;
}
.container h1 {
    font-size: 26px;
}
.formGroup input, .formGroup button {
    width: 90%;
    margin: 6px auto;
    font-size: 18px;
}
.formGroup .btn {
    margin-top: 4px;
    border-radius: 23px;
    font-size: 17px;
}
.btn {
    font-size: 15px;
    padding: 2px 8px;
    margin: 530px 2px;
    cursor: pointer;
    box-shadow: 2px 5px green;
}
