body {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -65vmax;
}
.container {
    border: 2px solid rgb(53, 52, 52);
    width: 50%;
    height: 70%;
    margin: 0px;
    position: absolute;
    top: 135px;
    left: 10px;
}
.container h1 {
    font-size: 26px;
}